
.dssettings-parent{
    position: relative;
}
.dssettings-parent > button, .dscolorpick-parent > button{ padding:0 5px; line-height: 25px; margin:0; min-width:25px; color:#333}
.dssettings-panel{
    display: none;
    position: absolute;
    top:22px;
    right:0;
    border: 1px solid #6e6e6e;
    background-color: #d6d6d6;
    width: 250px;
    padding: 5px;
    color:#333;
    z-index: 9;
}

.dssettings-panel h6{ text-align:center; text-transform:uppercase; color:#111; margin: 0 0 5px 0;
                      border:1px solid #6e6e6e;
                      position: absolute;
                      font-weight:600;
                      top: -26px;
                      right:26px;
                      background: #d6d6d6;
                      padding: 6px 10px 5px;
                      border-bottom: 1px solid #d6d6d6;
}
.ds-max-width, .ds-max-height,.ds-max-chars{
    width:65px;
    margin-bottom:8px;
    text-indent:3px;
}
.ds-default-content{ width:62%;text-indent:3px;}
.ds-text-height, .ds-text-width{ width:65px; margin-left:5px;
                                 height: 25px;
                                 line-height: normal;
                                 text-indent:3px;
}
.ds-text-width{ float:right;}
.ds-arrow-h, .ds-arrow-v {
    width: 40%;
    text-indent:3px;
    line-height: 22px;
}
.paragraph_check{
    position: absolute;
    opacity:0;
}
.dssettings-panel label{
    margin: 2px;
    cursor: pointer;
}
.dssettings-panel hr{
    margin: 2px 2px 6px ;
    border-color:#999;
}
.dssettings-panel label i{
    padding: 5px;
}
.dssettings-panel label input:checked + i{
    background-color: #aaa;
    color:#333;
}
i.bull{
    font-style:normal!important;
}
span.dsbullet{
    padding-right: 10px;
}
ul.nobullet{
    padding: 0;
    list-style-type: none;
}
.panel_settings{ width:300px; font-size:13px;}
.dssettings-panel input[type="text"]{ line-height:22px; margin-left:5px;}

.bullet_types label{    
}
.dssettings-panel .bullet_types label i {width: 25px;
                                         display: inline-block;
                                         height: 25px;
                                         text-align: center;
                                         line-height: 25px;
                                         border: 1px solid #eaeaea;
                                         cursor:pointer;
                                         padding:0;
}
.dssettings-panel .bullet_types label i.bull{font-family:arial; font-size: 13px; }
.dssettings-panel .bullet_types label input:checked + i{
    background-color: #aaa;
    color:#333;
}